$swiftcase-blue: #3478be;
$swiftcase-pink: #cd2760;
$swiftcase-green: #44ba53;
$swiftcase-white: #fff;
$swiftcase-grey: #d3d3d3;
$swiftcase-black: #000;
$swiftcase-mid-grey: #555;
$swiftcase-blue-steel: #67607c;
$swiftcase-offwhite: #eff0f6;
$swiftcase-background-blue: #191d33;
$swiftcase-lightest-pink: #d85e84;
$swiftcase-light-pink: #ce2357;
$swiftcase-medium-pink: #951b40;
$swiftcase-dark-pink: #471121;
$swiftcase-darkest-pink: #46212d;
$swiftcase-lightest-blue: #6294bf;
$swiftcase-light-blue: #1f6eb4;
$swiftcase-medium-blue: #184f7f;
$swiftcase-dark-blue: #1f2c37;
$swiftcase-darkest-blue: #0f2437;
$swiftcase-lightest-green: #71bc83;
$swiftcase-light-green: #25b050;
$swiftcase-medium-green: #1d7c39;
$swiftcase-dark-green: #11341b;
$swiftcase-darkest-green: #213426;
$swiftcase-gold: #d6a215;

$shadow-grey: #f1f1f1;
$scrollbar-grey: #c1c1c1;

$swiftcase-old-dark-blue: #1b1f3b;
