// Border radius
$swiftcase-medium-radius: 1rem;
$swiftcase-small-radius: 0.4rem;
$swiftcase-medium-radius: 1.25rem;

// Border
$swiftcase-partition-border-width: 0.2rem;
$swiftcase-small-border-width: 0.1rem;
